{% extends 'base.html.twig' %}

{% block title %}Détails de l'évenement!{% endblock %}

{% block body %}
<a href="{{app.request.headers.get('referer')}}">
         <button type="button" class="btn btn-primary">Retour</button>
        </a>
<h3>Description de l'évenement {{event.name}}</h3>

<div class="section">
   {% include 'includes/flash.html.twig' %}

    <article >
        <div >
            <figure class="image is-128x128 ml-1">
           
                <img src="https://loremflickr.com/256/256/album,music/all?lock={{event.id}}" alt="Image">
            </figure>
            
        </div>
        <div>
            <p>Nom : {{event.name}}</p>
            <p>Description : {{event.description}}</p>
            <p>Author : {{event.author.pseudo}}</p>
             <p>Date de l'événement : {{event.eventDate|date("m/d/Y H:m:i") }}</p>

          {% if  app.user %}

           
                <a href="{{path('modif_event',{id:event.id})}}">
                    <button type="button" class="btn btn-primary">Modifier</button>
                </a>
          
                <a href="{{path('delete_event',{id:event.id})}}">
                    <button type="button" class="btn btn-danger">Supprimer</button>
                </a>
            
            {% if  isParticipate == false %}
        
                <a href="{{path('app_subscribe_event',{id:event.id})}}">
                    <button type="button" class="btn btn-primary">Participer</button>
                </a>
            
           
            {% else %}
           
                <a href="{{path('app_unsubscribe_event',{idEvent:event.id,idUser:app.user.id})}}">
                    <button type="button" class="btn btn-primary">Se désinscrire</button>
                </a>
             
            {% endif %}

        </div>
        {% endif %}

       {% if (app.request.attributes.get("_controller")|split('::')[1]=='event_page') %}

       {% include 'event/send_invitation.html.twig' %}

       {% endif %}
       

    </article>
    <div>

    <br/>

    {% if event.getParticipants()|length >0  %}
        <h6>Liste des partcipants : </h6>
        {% for participant in event.getParticipants() %}
            <img src="https://robohash.org/{{participant.pseudo}}?set=set{{participant.id}}"  width="100">  
        {% endfor %}
    {% endif %}
    

</div>
{% endblock %}
