{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

Nombre d'événements : {{events|length}}
<br/>
<div class="section">
{% for event in events %}
<div class="row media-row float-left">
            
        <div class="team-item col-lg-8 col-md-6 ml-1">
            <div class="item-image">
                <a href="{{path('event_page',{id:event.id})}}">
                    <img src="https://loremflickr.com/256/256/album,music/all?lock={{event.id}}" alt="" title="" media-simple="true">
                </a>
            </div>

            <div class="item-caption py-12">

                <div class="item-name px-2">
                    <p>{{event.eventDate|date("m/d/Y H:m:i") }}</p>
                    <p class="mbr-fonts-style display-5">
                        {{event.name}}
                        </p>
                </div>
                <div class="item-role px-2">
                    <p>{{event.description|slice(0.25) }}</p>
                </div>
                <div class="item-social pt-2">
                    <a href="https://twitter.com/mobirise" target="_blank">
                        <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                        <span class="p-1 socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                        <span class="p-1 socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                        <span class="p-1 socicon-linkedin socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>
                        
                        
                    </a>
                </div>
            </div>

        </div>    
</div>
  {% endfor %}
  </div>
{% endblock %}
