<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('home')}}">EventProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
  
      {% if is_granted('ROLE_ADMIN') ==true %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_backoffice')}}">Gestion d'&eacute;v&eacute;nements</a>
      </li>
      {% endif %}
       <li class="nav-item">
        <a class="nav-link" href="{{path('list_envents_user_participated')}}">Mes participations</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('list_envents_user_created')}}">Mes événements</a>
      </li>
        {% if app.user %}
        <li class="nav-item">
          <a class="btn btn-primary float-right" href="{{path('add_event')}}">Ajout</i></a>
        </li>
        {% endif %}
    </ul>

    
  
    {% if app.user %}
    <div class="">
      <a class="text-white" href="{{path('app_profile')}}">
        <button type="button" class="btn btn-primary btn-sm">
            {{app.user.pseudo}} 
        </button>
      </a>
      <a class="text-white" href="{{path('app_logout')}}">
        <button type="button" class="btn btn-primary btn-sm">
          D&eacute;connexion
        </button>
      </a>
    </div>

   {% else %}
    <button type="button" class="btn btn-primary btn-sm">
        <a class="nav-link text-white" href="{{path('app_login')}}">Connexion </a>
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        <a class="nav-link text-white" href="{{path('app_register')}}">Inscription <span class="sr-only">(current)</span></a>
    </button>
    {% endif %}
     




  </div>
</nav>