<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{path('home')}}">EventProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('home')}}">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cr&eacute;er un &eacute;v&eacute;nement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestion d'&eacute;v&eacute;nements</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Participations</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Invitation</a>
      </li>
    </ul>
    <span class="navbar-text">
    
  
    {% if app.user %}
    <button type="button" class="btn btn-primary btn-sm">
        <a class="nav-link text-white" href="{{path('app_profile')}}">{{app.user.pseudo}} </a>
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        <a class="nav-link text-white" href="{{path('app_logout')}}">D&eacute;connexion </a>
    </button>
   {% else %}
    <button type="button" class="btn btn-primary btn-sm">
        <a class="nav-link text-white" href="{{path('app_login')}}">Connexion </a>
    </button>
    <button type="button" class="btn btn-primary btn-sm">
        <a class="nav-link text-white" href="{{path('app_register')}}">Inscription <span class="sr-only">(current)</span></a>
    </button>
    {% endif %}
     
    </span>
  </div>
</nav>